<h2><%= category.name %></h2>
<form method="POST" action="/categories/<%= category.id %>/?_method=PUT">
    <input type="text" name="newName" value="<%= category.name %>">
    <input type="submit" value="Change Name">
</form>