<h2>Profile Page</h2>

<h3>Hello, <%= currentUser.name %></h3>

<h5>Your Created Categories:</h5>

<p>I need to use a join table for this</p>

<ul>
    <% Categories.forEach( function(categories) {%>
        <li><a href="/"></a> </li>

</ul>
<hr/>

