<h2>Profile Page</h2>

<h3>Hello, <%= currentUser.name %></h3>

<h5>Your Created Categories:</h5>

<ul>
    <% categories.forEach(function(categories) { %>
        <li><a href="<%= categories.name %>"></a></li>
    <% }); %>
</ul>
<hr/>

